body {
    font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体;
    font-size: 14px;
}

.tab-lately td{cursor: pointer;}

div#navfirst {
    height: 148px;
    width: 1210px;
    margin: 0 0 0 12px;
    padding: 0;
    border: 0;
    background: #E8E7E3;
}

div#navfirst ul#menu {
    height: 48px;
    width: 1210px;
    margin: 0;
    padding: 0;
    position: relative;
}